name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
      # Base configuration
          base: header
          base_indepth: no
          base_hireable: no

          # Plugin: Intro
          plugin_introduction: yes

          # Plugin: Lines
          plugin_lines: yes
          plugin_lines_sections: base
          plugin_lines_repositories_limit: 5
          plugin_lines_history_limit: 2

          # Plugin: Languages
          plugin_languages: yes
          plugin_languages_indepth: yes

          #Plugin: Topics 
          plugin_topics: yes
          plugin_topics_mode: icons

          # Plugin: habits
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: no
          config_timezone: Brisbane/Australia

          plugin_achievements_only: >-
            polyglot, stargazer, deployer, member, maintainer, developer,
            scripter, explorer, infographile
          plugin_achievements_display: compact
          plugin_achievements_threshold: X

          # Plugin: Isocalender
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          # Plugin: Stars
          plugin_stars: yes
          plugin_stars_limit: 1
